<%= link_to "Menu", controller: "store" %>
  <%= link_to "Your Favorites", controller: "favorites", action: "show", id: @favorite.id %>
<h1>Error 404!</h1>

<%= render 'form' %>

<%= link_to "Back", controller: "store" %>
